*{
    margin: 0;
}

body {
    background-color: #ddd9d2;
    font-family: Nexa Light;
    background-repeat: no-repeat;
    background-size: cover;


}

.top-menu {
    width: 100%;
    border-bottom: 1px solid;
    min-height: 47px;
    min-width: 305px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    -webkit-font-smoothing: antialiased;
    
}

ul {
    display: block;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    display: inline-block;
    color: blanchedalmond;
}

.menu ul {
    padding:0px;
    margin:10px 10px;
    list-style:none;
}

li{
    display: inline;
    padding: 30px;
    
    
}
nav{
    border: solid #714441 1px;
    background-color: #714441;
}

.slogan{
    position: relative;
    padding: 50px;
    border: solid #714441 1px;
    border-radius: 1px;
    margin-top: 50px;
    background-color: #A1A0A6;
    text-align: center;
    letter-spacing: 10px;
    color: #fff;
}

.container{
    color: #714441;
    text-align: center;

}
.imgs{
    display: inline-block;
    padding: 5px;
    position: absolute;
    right: 10px;
}

.instagram{
    width: 20px;
}

img{
    width: 15px;
    padding: 5px;
    position: relative;
    right: 10px;
    
}

P{
    text-justify:auto;
    line-height: 1.875em;
    text-align: left;
    font-size: 11px;
}

.section1{
    display: block;
    background-image: url("/img/fundoInicial.jpg");

}

.sobre{
    display: flex;
    flex-basis: 2px;
    justify-content: center;
    flex-shrink: 1;
    
}
.sobre div{
    border: solid 1px black;
    margin: 2px;
    flex-basis: 400px;
    padding: 5px;

}